---

# Combine Configuration
- set_fact: _postfix_config="{{ postfix_default_config | combine(postfix_config, recursive=True) }}"
  no_log: true

- include: prepare.yml
- include: install.yml
- include: configure.yml
