# remove sensitive information from mail
/^Received:.*with ESMTPSA/    IGNORE
/^X-Originating-IP:/          IGNORE
/^X-Mailer:/                  IGNORE
/^Mime-Version:/              IGNORE
/^User-Agent:/                IGNORE
