user = {{ _postfix_mysql.user }}
password = {{ _postfix_mysql.pass }}
hosts = {{ _postfix_mysql.host }}
dbname = {{ _postfix_mysql.db }}
query = SELECT destination FROM virtual_alias_maps WHERE alias = '%s'
